*{
    margin-top: 0;
    padding-top: 0;
}

body{
    background: #B2BEB5;
}

.travel {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #D2988C;
}

.active_a{
    font-weight: bold;
}



/********************/
/* Nav Bar Styling */
/*******************/



#menu {
    z-index: 2;
}
  
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
  
.bar {
    height: 5px;
    width: 100%;
    background-color: #CB6D51;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
  
#bar1 {
    transform: translateY(-4px);
}
  
#bar3 {
    transform: translateY(4px);
}
  
.nav {
    transition: 0.3s ease;
    display: none;
}
  
.nav ul {
    padding: 0 22px;
}
  
.nav li {
    list-style: none;
    padding: 6px 0;
}

.nav li .main_page{
    text-decoration: underline;
    margin-bottom: 10px;
    color: white;
    font-size: 22px;
}
  
.nav li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}
  
.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}
  
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 110px 0 40px 40px;
    background: radial-gradient(circle, #CB6D51, #CB6D51);
    border-radius: 50%;
    transition: 0.3s ease;
}
  
.change {
    display: block;
}
  
.change .bar {
    background-color: white;
}
  
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
  
.change #bar2 {
    opacity: 0;
}
  
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
  
.change-bg {
    width: 500px;
    height: 440px;
    transform: translate(-60%,-30%);
}



/*******************/
/* Belgium styling */
/*******************/



.belright{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.belright img {
    width: 700px;
    height: 650px;
    margin-bottom: 10px;
}

.belright .bel_pic_text{
    color: black;
    font-size: 24px;
    width: 800px;
}

.belright ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.belright .bel_pic_wrap{
    width: 1000px;
	height: 800px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: white;
    margin-bottom: 50px;
    margin-left: 100px;
}

.belright .bel_pic_list{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
    height: 500px;
    inset: 0;
}



/******************/
/* France styling */
/******************/



.fraright{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.fraright img {
    width: 600px;
    height: 650px;
    margin-bottom: 10px;
}

.fraright .fra_pic_text{
    color: black;
    font-size: 24px;
    width: 800px;
}

.fraright ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fraright .fra_pic_wrap{
    width: 1000px;
	height: 800px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: white;
    margin-bottom: 50px;
    margin-left: 100px;
}

.fraright .fra_pic_list{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
    height: 500px;
    inset: 0;
}



/*****************/
/* Italy styling */
/*****************/



.itright{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.itright img {
    width: 700px;
    height: 650px;
    margin-bottom: 10px;
}

.itright .it_pic_text{
    color: black;
    font-size: 24px;
    width: 800px;
}

.itright ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itright .it_pic_wrap{
    width: 1000px;
	height: 800px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: white;
    margin-bottom: 50px;
    margin-left: 100px;
}

.itright .it_pic_list{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
    height: 500px;
    inset: 0;
}



/*****************/
/* Malta styling */
/*****************/



.malright{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.malright img {
    width: 600px;
    height: 650px;
    margin-bottom: 10px;
}

.malright .mal_pic_text{
    color: black;
    font-size: 24px;
    width: 800px;
}

.malright ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.malright .mal_pic_wrap{
    width: 1000px;
	height: 800px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: white;
    margin-bottom: 50px;
    margin-left: 100px;
}

.malright .mal_pic_list{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
    height: 500px;
    inset: 0;
}



/********************/
/* Portugal styling */
/********************/



.portright{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.portright img {
    width: 800px;
    height: 650px;
    margin-bottom: 10px;
}

.portright .port_pic_text{
    color: black;
    font-size: 24px;
    width: 800px;
}

.portright ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portright .port_pic_wrap{
    width: 1000px;
	height: 800px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: white;
    margin-bottom: 50px;
    margin-left: 100px;
}

.portright .port_pic_list{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
    height: 500px;
    inset: 0;
}



/*****************/
/* Spain styling */
/*****************/



.spainright{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.spainright img {
    width: 800px;
    height: 650px;
    margin-bottom: 10px;
}

.spainright .spain_pic_text{
    color: black;
    font-size: 24px;
    width: 800px;
}

.spainright ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spainright .spain_pic_wrap{
    width: 1000px;
	height: 800px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: white;
    margin-bottom: 50px;
    margin-left: 100px;
}

.spainright .spain_pic_list{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
    height: 500px;
    inset: 0;
}



/***************/
/* USA styling */
/***************/



.usright{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.usright img {
    width: 800px;
    height: 650px;
    margin-bottom: 10px;
}

.usright .us_pic_text{
    color: black;
    font-size: 24px;
    width: 800px;
}

.usright ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.usright .us_pic_wrap{
    width: 1000px;
	height: 800px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: white;
    margin-bottom: 50px;
    margin-left: 100px;
}

.usright .us_pic_list{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1200px;
    height: 500px;
    inset: 0;
}